*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-purple: #232c67;
  --color-dark-purple-hover: #3949ab;
  --color-light-purple: #a5aae1;

  --color-dark-pink: #9b2f42;
  --color-dark-pink-hover: #b6465c;
  --color-light-pink: #ebb2b8;

  --color-dark-yellow: #8f5d00;
  --color-dark-yellow-hover: #b77c00;
  --color-light-yellow: #f8d38c;

  --color-white: #fff;

  --color-black: #040404;
  --color-black-hover:	#1a1a1a;
  --color-light-black:	#a9a9a9;

  --color-bg-black: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-bg-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-dark-purple);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-light-purple);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  outline: 4px auto var(--color-white);
}